.container-fluid{
  width: 700px;
}

#moves{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

#info{
  position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.input-field{
  width: 750px;
  height: 50px;
}

.nameidpic{
  width: 750px;
  height: 300px;
}

.prevevo{
  width: 100px !important;
  height: 200px;
}
